Quartus_project/*_generation_script*
Quartus_project/*_inst.vhd
Quartus_project/*.bak
Quartus_project/*.cmp
Quartus_project/*.done
Quartus_project/*.eqn
Quartus_project/*.hex
Quartus_project/*.html
Quartus_project/*.htm
Quartus_project/*.jdi
Quartus_project/*.jpg
Quartus_project/*.pin
Quartus_project/*.pof
Quartus_project/*.ptf.*
Quartus_project/*.qar
Quartus_project/*.qarlog
Quartus_project/*.qws
Quartus_project/*.rpt
Quartus_project/*.smsg
Quartus_project/*.sopc_builder
Quartus_project/*.summary
Quartus_project/*.tcl
Quartus_project/*~
Quartus_project/*example*
Quartus_project/*sopc_*
Quartus_project/*.txt

# Don't track content of these folders
Quartus_project/*/db/
Quartus_project/*/incremental_db/
Quartus_project/*/simulation/
Quartus_project/*/timing/
Quartus_project/*/testbench/
Quartus_project/*/*_sim/
Quartus_project/*/.qsys_edit/
Quartus_project/incremental_db/
Quartus_project/db/
Quartus_project/simulation/
Quartus_project/_output_files/